@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

body{
    background: #000000ec ;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #ff5e00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20px;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navBar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin: 15px;
    transition: .3s;
}

.navBar a:hover{
    color:black;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.presBox{
    max-width: 600px;
}

.presBox h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    font-weight: 700;

}

.presBox h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: 700;
    color: aqua;

}

.presBox p {
    font-size: 16px;
  
}

.home2 {
    background:  #ededed25;
    color:#ededed;
    padding: 0 10%;
    max-width: 900px;
    
}

.home2 p{
    max-width: 490px;
}

.techList {
    display: flex ;   
    padding: 5% 5%;
} 


.techList >img {
    width: 150px;
    height: 150px;
    transition: .5s;
    /*border: 10px solid white;*/
    
}

.techList >img:hover{  
    transform: translateY(-8%);
    background-color: grey;
    
}

.home3 {
    background:  #ededed25;
    color:#ededed;
    border-top: 10px solid #ff5e00;
    max-width: 900px;
}

.home3 h3{
    padding: 0% 10%;
    font-size: 25px;
}

.proyectos >img {
    padding: 10% 10%;
    width: 540px;
    transition: .5s;
}

.proyectos >img:hover {
    translate: 8%;
    background-color: gray;
}

.foundMe a{
    padding: 5px;
    color:#ff5e00;
    transition: 0.5;
}
 .foundMe a:hover{
    color: #ededed;
 }
 
 input[type="submit"]:hover {
    background-color:#ff5e00;
    transition: 0.5s;
  }
