@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

body{
    background:#000000ec;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20px;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color:#9B0094;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.header .navBar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin: 15px;
    transition: .3s;
}

.navBar a:hover{
    color:#54009B;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}

.presBox{
    max-width: 600px;
}

.presBox img{
    position: absolute;
    top: 140px;
    right: 20%;
}

.presBox h1 {
    position:relative;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: 700;
}

.presBox h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation:showRight 1s ease forwards;
    animation-delay: 1s;
}

.presBox h3 {
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    font-weight: 700;
    color: aqua;

}

.presBox h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation:showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.presBox p{
    position: relative;
    font-size: 14px;
    margin: 20px 0 40px;  
}

.presBox p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation:showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.presBox .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.presBox .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation:showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid #ededed;
    border-radius: 8px;
    font-size: 19px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:hover {
    transition: .5s;
}

.btn-box a::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#54009B;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.foundMe {
    position:absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.foundMe::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#000000ec;
    animation:showRight 1s ease forwards;
    animation-delay:1.9s;
    z-index: 2;
}

.foundMe a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ededed ;
    border-radius: 50%;
    font-size: 20px;
    color: #ededed;
    text-decoration:  none;
    z-index: 1;
    overflow:hidden;
}

.foundMe a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#54009B;
    z-index: -1;
    transition: .5s;
}

.foundMe a:hover::before {
    width: 100%;
}

.home2 {
    top: 0;
    left: 20%;
    width: 100%;
    padding: 20px 30%;
    display: flex;
    background:#ededed25;
    color:#ededed;
}

.home2 p{
    max-width: 490px;
    
}

.techList {
    display: flex ;  
    justify-content: space-between;
    padding:5% 5%;
}

.techList >img {
    width: 150px;
    height: 150px;
    transition: .5s;
    border: 2px solid #ededed;
    border-radius: 8px;
    font-size: 19px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    /*border: 10px solid white;*/   
}

.techList >img:hover{  
    transform: translateY(-8%);
    background-color: grey;
    
}

.home3 {
    top: 0;
    left: 10%;
    width: 100%;
    padding: 20px 30%;
    display: flex;
    background:#ededed25;
    color:#ededed;
}

.proyectos{
    padding: 50px 30px;
}
 
.proyectos >img {
    padding: 10% 10%;
    width: 200px;
    height: 200px;
    transition: .5s;
    border: 2px solid #ededed;
    border-radius: 8px;
    font-size: 19px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.proyectos >img:hover {
    translate: 8%;
    background-color: gray;
}
 
input[type="submit"]:hover {
    background-color:#ff5e00;
    transition: 0.5s;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 700rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea { 
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #9B0094;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #9b009b94;
}

.copyRight{
    background-color:#9B0094;
    color: black;
}

/*Keyframes animation*/
@keyframes showRight {
    100%{
        width: 0;
    }
}